/* Content */
.section {
    position: relative;
    top: 5em;
}

.section .heading {
    font-size: 26px !important;
    margin-bottom: 10px !important;
}

/* Flag Submit */
.flag-form {
    margin-top: 30px;
    padding-bottom: 50px;
}

.flag-form-title {
    font-family: "Product Sans";
    font-weight: bolder;
    font-size: 22px;
}

.flag-form .input-group {
    width: 60%;
    border-bottom: 1px solid grey;
}

.flag-form input {
    width: 100%;
    border: none;
    outline: none;
}

.flag-form .btn {
	color: rgb(230,230,230);
	background-color: rgb(30,30,30);
    border: none;
    border-radius: 3px;
	width: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.flag-form .btn:hover{
	color: rgb(30,30,30);
	background-color: rgb(230,230,230);
    border: none;
}