/* Leaderboard */
.image {
    background-color: #490D40;
    background: url('/static/ctf/img/leaderboard.png') no-repeat center;
    background-position: 50% 25%;
    background-size: cover;
    height: 15em;
    min-height: 15em;
    position: relative;
    margin-bottom: 1.8em;
}

.table {
    font-size: 15px;
}

.table th {
    line-height: .9em !important;
    color: #000000 !important;
    background-color: rgba(45,54,61,.3) !important;
}

.table td {
    line-height: .9em !important;
    border-bottom: .5px solid rgb(0,0,0);
}